@media only screen and (max-width: 600px){
       h1{
             font-size: 60px;
       }    
       .cake{
           width: 100%;
        }
       .p1{
           margin-top: 50%;
        }
        .p2{
            padding-top: 50%;
        }
        .flip-card{
            margin-bottom: 15%;
        }
        .flip-card:hover .flip-card-inner {
            transform: scale(1.5) rotateY(180deg);
            cursor: pointer;
        }
   }
